ul {
  position: relative;
  height: 400px;
  border: 1px solid #fff;
}
li {
  position: absolute;
  display: inline-block;
  width: 15px;
  bottom: 0;
}
body {
  background: gray;
}
ul {
  margin: 50px 50px;
  list-style-position: inside;
}
li {
  font-size: 1em;
  line-height: 1.8em;
  color: black;
  text-align: center;
  border-radius: 15px;
}

iframe.newspage {
  position: relative;
  width: 1100px;
  height: 500px;
  margin: 40px;
  background: white;
}

button.year_2020 {
  border: 1px solid skyblue;
  background-color: white;
  color: skyblue;
  padding: 5px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: -4px;
  margin-left: -4px;
}
button.year_2020:hover {
  background-color: skyblue;
  color: white;
}

button.year_2021 {
  border: 1px solid orange;
  background-color: white;
  color: orange;
  padding: 5px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-right: -4px;
  margin-left: -4px;
}
button.year_2021:hover {
  background-color: orange;
  color: white;
}
